// Variables
// ---------------------------------------/

$container-width: 980px !default;
$grid-gutter:     10px !default;

// Colors
$white:             #fff;
$black:             #1f2a37;

// Styles
$text_color:        $black;

// Font stack
$body-font: "Open Sans", "Avenir Next", Avenir, "Segoe UI", Helvetica, Arial, sans-serif !default;

// The base body size
$body-font-size: 13px !default;

// Monospace font stack
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;